In [53]:
import pandas as pd
import os

In [2]:
events=pd.read_json("../src/models/simulation.jsonlines", orient="records",lines=True)
planes=pd.read_json("../src/models/plans.jsonlines", orient="records",lines=True)

In [25]:
planes

,items,simulationId,trucks
0,"[{'itemId': '0', 'locationId': '326ae8dc7810de...",2f6737c6-8d69-46b9-9534-68ffa2e7f7ad,"[{'items': ['23', '24', '4', '25', '26', '27',..."
1,"[{'itemId': '0', 'locationId': '265a9178c2d6ca...",3fab69b5-fecc-4baa-b402-7da59b6bb23b,"[{'items': ['8', '9', '10', '31', '32', '27', ..."
2,"[{'itemId': '0', 'locationId': '70b866cac59186...",89e71177-6a7b-41eb-858a-ecaf434fdd8b,"[{'items': ['33', '34', '35', '64', '65', '66'..."
3,"[{'itemId': '0', 'locationId': 'f3367090a09140...",d4bef456-20a5-440e-94f5-eb6957479158,"[{'items': ['72', '73', '74', '75', '31', '32'..."
4,"[{'itemId': '0', 'locationId': '86b0c901cebbf4...",e825e855-b32f-42d2-a84a-e2211b88a90a,"[{'items': ['83', '84', '65', '66', '60', '57'..."
...,...,...,...
95,"[{'itemId': '0', 'locationId': 'c0430d1e19c34a...",3eba70d9-65c0-4e1e-a450-3398a20fe17c,"[{'items': ['49', '17', '18', '19', '20', '64'..."
96,"[{'itemId': '0', 'locationId': '9ce4e2fcbd2363...",ab979a8e-9d71-482b-a6c2-3a9974c1030d,"[{'items': ['11', '12', '13', '2'], 'route': [..."
97,"[{'itemId': '0', 'locationId': 'f5806a7ef9a320...",c05c8c88-2a3b-466a-a955-4fea04bc8e48,"[{'items': ['42', '43', '44', '2', '37'], 'rou..."
98,"[{'itemId': '0', 'locationId': '7bfec30d377940...",e5191ac4-8a4a-40c2-88e5-ee28a5814506,"[{'items': ['37', '38', '39', '40', '56', '57'..."
99,"[{'itemId': '0', 'locationId': '9ee3200a71d143...",38774868-bb32-47c3-a32d-dbe49df36c6e,"[{'items': ['55', '56', '47', '48', '49', '37'..."

In [3]:
pd.DataFrame(planes["items"][0])

    itemId                locationId
0        0  326ae8dc7810de94ef36cda6
1        1  326ae8dc7810de94ef36cda6
2        2  326ae8dc7810de94ef36cda6
3        3  326ae8dc7810de94ef36cda6
4        4  c0430d1e19c34a06e343a270
..     ...                       ...
96      96  4a88d4b6c829df165a52d1d4
97      97  4a88d4b6c829df165a52d1d4
98      98  5a13a4517d5fc3018de2dbea
99      99  5a13a4517d5fc3018de2dbea
100    100  5a13a4517d5fc3018de2dbea

[101 rows x 2 columns]

In [4]:
entregas = events[events.eventType.isin(["Truck ended delivering", "Truck started delivering"])]
entregas = entregas.sort_values(by=["simulationId", "truckId", "eventTime"])

In [5]:
entregas["deliverTime"] = entregas["eventTime"].diff()
entregas = entregas[entregas.eventType == "Truck ended delivering"]
entregas

,eventDescription,eventTime,eventType,simulationId,truckId,deliverTime
15782,Packet 23 to (paseo de Santa María de la Cabez...,563060,Truck ended delivering,00ab3765-2a12-425d-a12a-07577a572829,0013DYS,60200.0
15925,Packet 24 to (paseo de Santa María de la Cabez...,683260,Truck ended delivering,00ab3765-2a12-425d-a12a-07577a572829,0013DYS,120200.0
16954,"Packet 5 to (avda Rey Juan Carlos I, 53, Legan...",1534160,Truck ended delivering,00ab3765-2a12-425d-a12a-07577a572829,0013DYS,120200.0
17157,"Packet 6 to (avda Rey Juan Carlos I, 53, Legan...",1654350,Truck ended delivering,00ab3765-2a12-425d-a12a-07577a572829,0013DYS,120190.0
17349,"Packet 7 to (avda Rey Juan Carlos I, 53, Legan...",1774550,Truck ended delivering,00ab3765-2a12-425d-a12a-07577a572829,0013DYS,120200.0
...,...,...,...,...,...,...
6504,"Packet 73 to (calle de Coca, 4, Madrid, [-3.74...",3069620,Truck ended delivering,fd4bc7cb-f234-4653-a87d-2514d6df6eca,6270NFM,60200.0
6960,"Packet 84 to (calle de Villamanín, 54, Madrid,...",3298720,Truck ended delivering,fd4bc7cb-f234-4653-a87d-2514d6df6eca,6270NFM,60200.0
7210,"Packet 85 to (calle de Villamanín, 54, Madrid,...",3419540,Truck ended delivering,fd4bc7cb-f234-4653-a87d-2514d6df6eca,6270NFM,120820.0
9137,"Packet 26 to (calle Real, 11, Montejo de la Si...",4491020,Truck ended delivering,fd4bc7cb-f234-4653-a87d-2514d6df6eca,8386WZB,120200.0
9347,"Packet 27 to (calle Real, 11, Montejo de la Si...",4611220,Truck ended delivering,fd4bc7cb-f234-4653-a87d-2514d6df6eca,8386WZB,120200.0

In [8]:
events["eventType"].value_counts()

Truck ended delivering      8575
Truck started delivering    8575
Truck arrived               3433
Truck departed              3429
Truck departed to depot      629
Truck received packets       625
Truck initialized            625
Truck ended route            624
Name: eventType, dtype: int64

In [16]:
camiones_total = [  ]
for t in planes["trucks"]:
    camiones_total.append(pd.DataFrame(t))
camiones_total = pd.concat(camiones_total)
camiones_total["items"] = camiones_total["items"].apply(len)

camiones_total.drop(columns=["route"]).groupby("truck_id").sum()

          items
truck_id
0013DYS     528
0184WLX       2
0265TYL      70
0781PZL     216
1012GWV       3
1161GJN      12
1316CKM       7
1489WHW       4
1669HSZ      39
2423VRT     178
3321FBL    1760
3953RLD    1394
5030LXK     906
5534TPH    1745
6270NFM     783
6965XLY     270
8327DZH       5
8386WZB     351
8809GPH      14
9593DXM     292

In [26]:
localizaciones_total = [  ]
for truck_list in planes["trucks"]:
    for truck in truck_list:
        localizaciones_total.append(pd.DataFrame(truck["route"]).assign(truck_id=truck["truck_id"]))
    
localizaciones_total = pd.concat(localizaciones_total)
localizaciones_total
localizaciones_total[["truck_id","destination"]].groupby("truck_id").nunique()

                 destination  duration                    origin truck_id
0   af3ea5c0e98151a51bd39c64       197  ce6feed06bc1a9e5aff95f04  5534TPH
1   c0430d1e19c34a06e343a270       733  af3ea5c0e98151a51bd39c64  5534TPH
2   b31f6bb5c55435cb5495a62b       380  c0430d1e19c34a06e343a270  5534TPH
3   58a50ddf91095c052e330fd6       612  b31f6bb5c55435cb5495a62b  5534TPH
4   910cd4ad38bc68ff7abdd941       850  58a50ddf91095c052e330fd6  5534TPH
..                       ...       ...                       ...      ...
3   34f6a9450ec26784f2c99d31      1675  9a7829aa1800c000df2aa260  0013DYS
4   61758d9c35c5db1bfa18a159      1679  34f6a9450ec26784f2c99d31  0013DYS
5   ce2ca1cd0bb078cdba1017a1      1423  61758d9c35c5db1bfa18a159  0013DYS
6   4fc99ef6648a3e6948e51d21       168  ce2ca1cd0bb078cdba1017a1  0013DYS
7   ce6feed06bc1a9e5aff95f04        41  4fc99ef6648a3e6948e51d21  0013DYS

[4059 rows x 4 columns]

In [34]:
tiempos_por_camion = [  ]
for sim_id in planes.simulationId.unique():
    for truck in planes[planes.simulationId == sim_id]["trucks"].values[0]:
        tiempos_por_camion.append(pd.DataFrame(truck["route"]).assign(truck_id=truck["truck_id"],simulationId=sim_id))
    
tiempos_por_camion = pd.concat(tiempos_por_camion)
tiempos_por_camion.drop(columns=["destination","origin"]).groupby(["truck_id","simulationId"]).agg(list)

                                                                               duration
truck_id simulationId
0013DYS  00ab3765-2a12-425d-a12a-07577a572829           [502, 730, 259, 548, 272, 1660]
         08e37ab2-95b6-44da-9414-3dc1efb6ac9f                              [3005, 2898]
         2459420d-ab30-4b8e-aa85-f89d65c7a212  [616, 278, 553, 163, 233, 226, 601, 426]
         255c1387-efa1-4c35-a2cf-239d30c8a6fc                                    [0, 0]
         2b8c4682-eaef-489a-b3f6-4de21c9b863a                              [4593, 4577]
...                                                                                 ...
9593DXM  e825e855-b32f-42d2-a84a-e2211b88a90a                              [2718, 2591]
         e8956ec6-18a3-4af1-9e07-f6be5f2141c9                              [2667, 2582]
         e9b743cc-811b-4345-b6fa-70628b3a35fe                         [2687, 2454, 212]
         eb29577c-86ca-4bbc-9cea-e8f5596ff26f                    [151, 1990, 247, 1852]
         f772ea51-b196-4f49-b61e-047e8ee15bd2          [533, 25, 670, 1069, 1252, 2170]

[625 rows x 1 columns]

In [42]:
events

,eventDescription,eventTime,eventType,simulationId,truckId
0,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",3630,Truck departed,2f6737c6-8d69-46b9-9534-68ffa2e7f7ad,1161GJN
1,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",3560,Truck departed,2f6737c6-8d69-46b9-9534-68ffa2e7f7ad,1669HSZ
2,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",3450,Truck departed,2f6737c6-8d69-46b9-9534-68ffa2e7f7ad,2423VRT
3,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",3400,Truck departed,2f6737c6-8d69-46b9-9534-68ffa2e7f7ad,5534TPH
4,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",3220,Truck departed,2f6737c6-8d69-46b9-9534-68ffa2e7f7ad,3321FBL
...,...,...,...,...,...
26510,"Packet 11 to (calle de García de Paredes, 80, ...",11007640,Truck ended delivering,1932a31d-c501-4333-b8c6-429fa20eaf4e,5030LXK
26511,"(plaza del Dos de Mayo, 6, Madrid, [-3.7041862...",11007700,Truck departed to depot,1932a31d-c501-4333-b8c6-429fa20eaf4e,5030LXK
26512,,10635530,Truck ended route,e5191ac4-8a4a-40c2-88e5-ee28a5814506,3321FBL
26513,,11391240,Truck ended route,b9668f23-19a0-4de7-b401-f6146cf4e068,5534TPH
26514,,11292940,Truck ended route,1932a31d-c501-4333-b8c6-429fa20eaf4e,5030LXK

In [36]:
events.eventType.unique()

array(['Truck departed', 'Truck initialized', 'Truck received packets',
       'Truck arrived', 'Truck started delivering',
       'Truck ended delivering', 'Truck departed to depot',
       'Truck ended route'], dtype=object)

In [52]:
tiempos_viaje = events[events.eventType.isin(["Truck departed", "Truck arrived", 'Truck departed to depot', 'Truck ended route'])]
tiempos_viaje = tiempos_viaje.drop(columns=["eventDescription"]).sort_values(["simulationId", "truckId","eventTime"])
tiempos_viaje["tiempo"] = tiempos_viaje["eventTime"].diff()
tiempos_viaje = tiempos_viaje[tiempos_viaje["eventType"].isin(["Truck arrived",'Truck ended route'])]
tiempos_viaje.drop(columns=["eventTime", "eventType"]).groupby(["truckId","simulationId"]).agg(list)

                                                                                         tiempo
truckId simulationId
0013DYS 00ab3765-2a12-425d-a12a-07577a572829  [502180.0, 730650.0, 259140.0, 548940.0, 27281...
        08e37ab2-95b6-44da-9414-3dc1efb6ac9f                             [3005420.0, 2898160.0]
        2459420d-ab30-4b8e-aa85-f89d65c7a212  [616430.0, 278630.0, 553630.0, 163820.0, 23335...
        2b8c4682-eaef-489a-b3f6-4de21c9b863a                             [4593810.0, 4577510.0]
        2d2b3d0c-ed22-4524-9b0d-03f51e9a5eae  [502500.0, 258570.0, 139360.0, 1176110.0, 1424...
...                                                                                         ...
9593DXM e825e855-b32f-42d2-a84a-e2211b88a90a                             [2718780.0, 2591960.0]
        e8956ec6-18a3-4af1-9e07-f6be5f2141c9                             [2667710.0, 2583020.0]
        e9b743cc-811b-4345-b6fa-70628b3a35fe                   [2687130.0, 2454500.0, 212640.0]
        eb29577c-86ca-4bbc-9cea-e8f5596ff26f         [151680.0, 1991190.0, 247420.0, 1852460.0]
        f772ea51-b196-4f49-b61e-047e8ee15bd2  [533750.0, 26050.0, 670910.0, 1069390.0, 12529...

[624 rows x 1 columns]